<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">.
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
<title>adminlte_demo</title>
<link href="/static/adminlte/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="/static/adminlte/adminlte.min.css" rel="stylesheet" type="text/css" />
<link href="/static/adminlte/fontawesome.min.css" rel="stylesheet" type="text/css" />
<link href="/static/adminlte/material.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/static/adminlte/jquery.min.js"></script>
<script type="text/javascript" src="/static/adminlte/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/adminlte/adminlte.min.js"></script> 
    

</head>
<body>

<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header card-header-danger">
					<h4 class="card-title fa-pull-left">卡片标题</h4>
					<button class="btn btn-white btn-sm fa-pull-right">添加</button>
					<p class="card-category"></p>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-4"> 
							<div class="card card-stats" style="background-color:#eeeeee;"> 
									<div class="card-header card-header-success card-header-icon">
                                                    <div class="card-icon">小标题</div>
                                                    <p class="card-category">193.168.0.1</p>
                                                </div>
                                                <div class="card-body" style="margin-top:20px;">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <p class="card-category">CPU</p>
                                                            <h3 class="card-title">100</h3>
                                                        </div>
                                                        <div class="col-4">
                                                            <p class="card-category">已用</p>
                                                            <h3 class="card-title">80</h3>
                                                        </div>
                                                        <div class="col-4">
                                                            <p class="card-category">使用率</p>
                                                            <h3 class="card-title">80%</h3>
                                                        </div>
                                                    </div>
                                                    <div class="progress" style="margin-top:30px">
                                                        <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" style="width: 80%"></div>
                                                    </div>
                                                </div>
                                                <div class="card-footer">
                                                    <div class="stats">
                                                        <a onclick=""><button class='btn btn-warning btn-sm fa-pull-right'>修改</button></a>
                                                        <a onclick=><button class='btn btn-danger btn-sm fa-pull-right'>禁用</button></a>
                                                    </div>
                                                </div>							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


</body>
</html>